html,
body {
    min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 1.25rem;
    font-weight: 400;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272626;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.main_container{
    width: 50%;
}

fieldset{
    max-height: 70vh;
    overflow-y: scroll;
    padding: 16px;
    background-color: #dddddd;
    border: #27cfdb solid 2px;
    color: #db8d27;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input_holder{
    display: flex;
    flex-direction: column;
}

.input_holder > p{
    width: fit-content;
}
.select_holder{
    display: flex;
    gap: 8px;
}

.input_select_holder, .termos_holder{
    display: flex;
    gap: 16px;
}